/* VARIABLES */
:root {
  --scolor:  #145214;
  --bgcolor: #e6f0ff;
  --fcolor: #000000;
  --colpal1: #1e425e;
  --colpal2: #256670;
  --colpal3: #ade28a;
  --colpal4: #edfa8b;
  --colpal5: #407056;
}

/* HTML ELEMENTS */
header {
  background: var(--colpal2);
  width: 100%;
  height: 90px;
}

footer {
  position: absolute;
  background: var(--colpal2);
  width: 100%;
  height: 25px;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  background: var(--colpal3);
}

h1 {
  font-size: 35px;
  font-weight: bold;
  font-family: Century Gothic;
}

/* CLASSES */

.banner {
  padding: 10px;
  height: 100%;
  top: 50%;
}

.element {
  width: 29%;
}

.op {
  width: 33%;
}

.pagetitle {
  width: 95%;
  height: auto;
  border: 0px;
  border-bottom: 5px;
  border-style: solid;
  border-color: var(--colpal2);
  padding-top: 10px;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  vertical-align: middle;
  color: var(--fcolor);
}

.paragraph {
  width: 95%;
  height: auto;
  border: 5px;
  padding: 5px;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  vertical-align: middle;
  font-size: 18px;
  font-family: Century Gothic;
  color: var(--fcolor);
  text-indent: 75px;
  letter-spacing: 2px;
  line-height: 1.5;
}

.table {
  font-family: Century Gothic;
  font-size: 20px;
  padding: 10px;
  margin-top: 25px;
  margin-bottom: 25px;
	margin-left: auto;
	margin-right: auto;
  text-align: center;
  vertical-align: middle;
  color: var(--fcolor);
}

.element {
  border-style: solid;
  border-width: 0px;
  border-color: var(--colpal2);
  background-color: var(--colpal2);
}

.cycles, .tabs {
	margin-left: auto;
	margin-right: auto;
}

.cycles {
  width: 87vw;
  height: 35vw;
  border-style: solid;
  border-width: 1px;
  border-radius: 1px;
  border-color: var(--colpal2);
  background-color: var(--colpal2);
}

.tab {
  font-family: Century Gothic;
  font-size: 20px;
  padding: 0px;
  margin-top: 45px;
  margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
  text-align: center;
  vertical-align: middle;
}

.tabs {
  width: 95%;
  border-collapse: collapse;
  border: none;
  height: 30px;
}

.e-button {
  border: none;
  text-align: center;
  font-size: 24px;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.t-button {
  border: none;
  width: 100%;
  height: 100%;
  background-color: var(--colpal5);
  cursor: pointer;
  font-size: 15px;
  color: #FFFFFF;
}

/* ID's */

#banner1 {
  height: 70%;
  mask-image: linear-gradient(to right, rgba(0, 0, 0, 1.0) 75%, transparent 100%);
}

#pt-main {
  border-style: solid;
  border-color: var(--colpal2);
}

#c-button {
  background-image: url("carbon1.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #FFFFFF;
}

#carbon:hover #c-button {
  opacity: 0.75;
}

#o-button {
  background-image: url("oxygen1.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  color: #FFFFFF;
}

#oxygen:hover #o-button {
  opacity: 0.75;
}

#n-button {
  background-image: url("nitrogen1.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  color: #FFFFFF;
}

#nitrogen:hover #n-button {
  opacity: 0.75;
}

#p-button {
  background-image: url("phosphorus1.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  color: #FFFFFF;
}

#phosphorus:hover #p-button {
  opacity: 0.75;
}

#s-button {
  background-image: url("sulfur1.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  color: #FFFFFF;
}

#sulfur:hover #s-button {
  opacity: 0.75;
}

#h2o-button {
  background-image: url("water1.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  color: #FFFFFF;
}

#water:hover #h2o-button {
  opacity: 0.75;
}

#about:hover #a-button {
  background-color: var(--colpal1);
}

#others:hover #os-button {
  background-color: var(--colpal1);
}

#contacts:hover #cu-button {
  background-color: var(--colpal1);
}