.cycles {
	width: 80%
	border: 10px solid black;
	margin-left: auto;
	margin-right: auto;
}

.carbon {
	
}

.oxygen {

}

.nitrogen {

}

.phosphorus {

}

.sulfur {

}

.water {

}